@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle at top,
    #0b1f2a,
    #020c12 60%
  );
  min-height: 100vh;
  color: #c7fdf0;
  font-family: "Inter", sans-serif;
}
