@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle at top,
    #0b1f2a,
    #020c12 60%
  );
  min-height: 100vh;
  color: #c7fdf0;
  font-family: "Inter", sans-serif;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

.float-img {
  animation: float 4s ease-in-out infinite;
  border: solid #00ffd5 1px ;
}