/* Nav name */
.neon-text {
  color: #00ffd5;
  text-shadow: 0 0 6px #33d5ba;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

/* nav-menu */
.nav-link {
  color: #c7fdf0;
  cursor: pointer;
  transition: 0.6s;
  border: solid transparent  1px;
  padding: 4px 20px;
  border-radius: 20px;
}
.nav-link:hover {
  color: #00ffd5;
  border: solid 1px;
  background-color: rgba(22, 55, 73, 0.4);
}


/* Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 320px;
  height: 100vh;
  background: #050f14;
  padding: 30px;
  transition: 0.4s ease;
  z-index: 50;
  display: flex;
  flex-direction: column;
}
.mobile-menu.open {
  right: 0;
}

.mobile-menu ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

}

.close-icon {
  align-self: flex-end;
  font-size: 28px;
  color: #00ffd5;
  cursor: pointer;
}

/* hide mobile on desktop */
@media (min-width: 768px) {
  .mobile-menu,
  .mobile-overlay {
    display: none;
  }
}

/* icon animation */
.icon {
  transition: 0.3s ease;
}
.icon:hover {
  transform: scale(1.2) rotate(90deg);
}